/* Here goes your CSS */
/*<body>*/
body {
    /* background-image: url('http://lewagon.github.io/html-css-challenges/shared/images/space-odyssey.jpg'); */
    /*text-align: center;*/
    font-family: 'Open Sans', sans-serif;
    background-color: #88968e;
}



/*div{
    width: 200px;
    height: 300px;
    background-color: red;
    margin: 20px;
    padding: 40px;
    border: 1px solid black;
}*/

#profile-pic{
    border-radius: 50%;
    height: 160px;
    width: 160px;
}

.btn-treehouse{
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    font-weight: bold;
    background: #6AD58B;
    transition: background 0.3s;
    margin: 5px;

}
.btn-medium {
    color: #999999;
    border: 1px solid #999999;
    padding: 15px 25px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    margin: 5px;
}
.card{
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 500px;
    margin: 10px auto 10px auto;
    text-align: center;
}

.btn-red{
    background-color: #DB4A48;
    color: white;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    margin: 5px;
    text-decoration: none;
}
.btn-medium:hover{
    background-color: #FCE4B8;
}
.btn-treehouse:hover{
    background-color: #312340;
}
.btn-red:hover{
    background-color: #EC5B59;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

h2:hover{
    color: blue;
}

.movie{
    width: 100px;
}

.img-circle {
  border-radius: 50%;
}
.text-center{
  text-align: center;
}
.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

/*<table>..<img>*/
/*table img{
    border-radius: 20px;
}
*/
/*<h1> OR <h2> OR <h3> OR...*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

/*<h1>*/
h1 {
    color: #50B948;

}

/*<h2>*/
h2{
    color: #C2D2EC;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
